<br>

<div class="container">
    <div class="row no-gutter">
        <!-- The image half -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <br>
            <br>
            <br>
            <br>
            <img src="/images/hostel.jpeg" class="img-fluid" alt="login" width="100%" height="100%">
        </div>
        <!-- The content half -->
        <div class="col-md-6 bg-light">
            <div class=" d-flex align-items-center">
                <!-- Demo content-->
                <div class="d-flex gap-5 justify-content-center">
                    <div class="list-group mx-0">
                        <br>
                        <br>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                            <span>
                                <h5 class="display-7 fw-bold"> Laptop and Smartphone</h5>
                                <small class="d-block text-muted"> Buy a laptop/ buy a smartphone - Buy it online or get
                                    it from your hometown! It's a must!</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                            <span>
                                <h5 class="display-7 fw-bold">Clothes</h5>
                                <small class="d-block text-muted"> Buy them from your hometown, or online. There are
                                    brand showrooms in Vellore around 10kms from VIT near officer's lane in case you are
                                    a brand freak! But still, suggesting to buy online or get basics from home.</small>
                                <label class="list-group-item d-flex gap-2">
                                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                                    <span>
                                        <h6> Minimum 4 shirts (for boys), Minimum 4 Tees to
                                            wear at Hostel, Minimum 3 Tees to wear in Classes</h6>
                                    </span>

                                </label>
                                <label class="list-group-item d-flex gap-2">
                                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                                    <span>
                                        <h6> Pyjamas, Kurtis (for girls), 2 Bath Towels, 2 Bedsheets, 2 Pillow Covers
                                        </h6>
                                    </span>

                                </label>
                                <label class="list-group-item d-flex gap-2">
                                    <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                                    <span>
                                        <h6>1 Mattress Cover, 3 pair of Socks, Nightwear - Boys / Girls, Blanket</h6>
                                    </span>

                                </label>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                            <span>
                                <h5 class="display-7 fw-bold">Mattress, Pillow, Bucket, Extension Board, Personal Lock,
                                    Utensils, Thermos, Slippers </h5>
                                <small class="d-block text-muted">Hostel life will make you share a lot of things, but
                                    these are some of the Personal Surviving things </small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                            <span>
                                <h5 class="display-7 fw-bold"> Sports Gear</h5>
                                <small class="d-block text-muted"> Only if you are into sports, you should and must
                                    bring the sports equipment from home or buy them online. This is not so necessary
                                    stuff! You can always buy them later!</small>
                            </span>
                        </label>
                        <label class="list-group-item d-flex gap-2">
                            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
                            <span>
                                <h5 class="display-7 fw-bold"> Water Bottle, Table Lamp, Newspaper, Scissors - Tape,
                                    Hair Comb, Deodorant, Trimming / Shaving Kit</h5>
                                <small class="d-block text-muted"> Helping hands for your hostel room</small>
                            </span>
                        </label>
                       <br>
                        <br>
                    </div>

                </div>
            </div><!-- End -->

        </div>
    </div>
    <br>
    <br>