<br>
<br>
<div class="album py-5 bg-light products">
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm">
                <img src="/images/rushabh.jpeg" alt="rushabh" width="100%" height="100%">

                <div class="card-body">
                    <h3>Rushabh Kela</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            <a href="https://www.linkedin.com/in/rushabh-kela/"><button type="button"
                                    class="btn btn-sm btn-outline-secondary"><b>LinkedIn</b></button></a>
                            <a href="https://github.com/rushabhkela"><button type="button"
                                    class="btn btn-sm btn-outline-secondary"><b>GitHub</b></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="/images/abhinav.png" alt="abhinav" width="100%" height="100%">

                <div class="card-body">
                    <h3>Abhinav Chawla</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            <a href="https://www.linkedin.com/in/abhinav-chawla-2269b3175/"><button type="button"
                                    class="btn btn-sm btn-outline-secondary"><b>LinkedIn</b></button></a>
                            <a href="https://github.com/AbhinavChawla8701"><button type="button"
                                    class="btn btn-sm btn-outline-secondary"><b>GitHub</b></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow-sm">
                <img src="/images/harsh.png" alt="harsh" width="100%" height="100%">

                <div class="card-body">
                    <h3>Harsh Gulati</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="">
                            <a href="https://www.linkedin.com/in/harsh-gulati-005585ab/"><button type="button"
                                    class="btn btn-sm btn-outline-secondary"><b>LinkedIn</b></button></a>
                            <a href="https://github.com/harsh-gulati-14"><button type="button"
                                    class="btn btn-sm btn-outline-secondary"><b>GitHub</b></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>